@import './../scss/config';

.container{
  background-color: #3E3B2C;
}

.about-section-container {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 0%;
  background-repeat: no-repeat;
}

.about-section-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.primary-heading {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.hehe{
  color: #be910d;
  font-size: 27px;
}

.primary-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.image-container{
  display: flex;
  justify-content: space-between;
  max-width: 400px; /* Adjust the max-width as needed */
  margin-top: 50%;
  max-width: 50%; /* Adjust the size as needed */
  max-height:50%;
}
.centered-image {
    display: flex;
  justify-content: space-between;
  max-width: 400px; /* Adjust the max-width as needed */
  margin-top: 50%;
  max-width: 50%; /* Adjust the size as needed */
  max-height:50%;
  }