@import './../scss/config';

.login-section {
  background-color: #3E3B2C;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-link {
  color: black; /* Set the color to black */
}


form {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Align items to the left

  span {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #333;
}

.form-control {
  padding-left: 30px;
  width: calc(100% - 40px);
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; 
}

.login-btn:hover {
  background-color: #0056b3;
}

button[aria-label="Go back"] {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

button[aria-label="Go back"]:hover {
  color: #ccc;
}

p a {
  color: white;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 56px;
  background: rgb(190 145 13 / 30%);
  border-radius: 32px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
.login-section h3, .login-section p {
  text-align: center;
}
.forgot {
  color: #111111;
  text-decoration: underline;
  margin: 20px 0;
  display: block;
  font-weight: 500;
}
.login-section p a {
  color: #111111;
  text-decoration: underline;
  font-weight: 500;
}
.gr__circle__top {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: #FACD49;
  filter: blur(122px);
}
.gr__circle__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: #FACD49;
  filter: blur(122px);
}
.social-link {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.social-link a {
  width: 80px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}